.footer {
  background-color: var(--veryDarkBlue);
  color: white;
  padding: 50px 50px;

  &__content {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      padding-left: 0px;
    }

    &__share-icons {
      display: flex;

      &--item {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer{
    padding: 50px 25px;

    &__content {
      flex-direction: column;
  
      ul:first-child {
        margin-top: 25px;
      }
  
      &__share-icons {
        align-self: center;
      }
    }
  }
}
