:root {
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturatedBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@import './nav.scss';
@import './hero.scss';
@import './mainSection.scss';
@import './early-access.scss';